@model IList<ServiceResultModels.UserModel>
@{
    ViewData["Title"] = "Home Page";
}
    <h2>Tenant : @((ViewBag.Tenant == null || (string)ViewBag.Tenant=="")? "Default": ViewBag.Tenant) </h2>
    <h2>Service : @ViewBag.Service</h2>
    <h2>Controller : @ViewBag.Controller</h2>
    
    <br />
    <h3><u>Users</u></h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Profile</th>
            </tr>
        </thead>
        <tbody>
           
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Profile</td>
                    </tr>
                }
                    
        </tbody>
    </table>


